<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Iniciar Sesión</title>
    <link rel="stylesheet" th:href="@{/css/style.css}" />
</head>
<body>
    <h2>Iniciar Sesión</h2>
    <form th:action="@{/login}" method="post">
        <div>
            <label for="username">Usuario:</label>
            <input type="text" id="username" name="username" />
        </div>
        <div>
            <label for="password">Contraseña:</label>
            <input type="password" id="password" name="password" />
        </div>
        <div>
            <button type="submit">Ingresar</button>
        </div>
    </form>
</body>
</html>
